node_modules
.next
.git
.github
.husky
.cursor
.vercel
*.md
docs
coverage
tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.env
.env.*
!.env.example
Dockerfile*
docker-compose*
.dockerignore
